.desktop {
  background-color: ivory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.desktop .div {
  background-color: #fff;
  height: 100vh;
  position: relative;
  width: 1440px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktop .div .navbar {
  background-color: black;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 40px 10px #00000040;
          box-shadow: 10px 10px 40px 10px #00000040;
  position: absolute;
  top: 47px;
  left: 45px;
  height: 934px;
  width: 106px;
}

.desktop .div .navbar .topdiv {
  position: relative;
  height: 75px;
  width: 75px;
  top: 30px;
  left: 15px;
}

.desktop .div .navbar .topdiv .logoicon {
  height: 100%;
  width: 100%;
}

.desktop .div .navbar .bottomdiv {
  position: relative;
  top: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktop .div .navbar .bottomdiv .bottomdiv1 {
  position: absolute;
  width: 43px;
  height: 41px;
  margin-left: -2px;
}

.desktop .div .navbar .bottomdiv .bottomdiv1 .favicon {
  height: 100%;
  width: 100%;
}

.desktop .div .navbar .bottomdiv .bottomdiv2 {
  position: absolute;
  width: 38px;
  height: 32px;
  top: 84px;
}

.desktop .div .navbar .bottomdiv .bottomdiv2 .homeicon {
  height: 100%;
  width: 100%;
}

.desktop .div .titlegroup {
  position: absolute;
  left: 202px;
  top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.desktop .div .titlegroup .titlelocation {
  color: #020715;
  font-family: "SCDream5";
  font-size: 65px;
  margin: -15px 0;
}

.desktop .div .titlegroup .titlefavimgdiv {
  margin-top: 15px;
  margin-left: 20px;
  width: 43px;
  height: 41px;
}

.desktop .div .titlegroup .titlefavimgdiv .titlefavimg {
  width: 100%;
  height: 100%;
}

.desktop .div .currentTime {
  position: absolute;
  top: 82px;
  left: 1057px;
  color: #505050;
  font-family: "SCDream2";
  font-size: 20px;
}

.desktop .div .selection1 {
  height: 85px;
  width: 357px;
  position: absolute;
  top: 205px;
  left: 204px;
}

.desktop .div .selection1 .selection1Text {
  position: absolute;
  font-size: 20px;
  color: #020715;
  font-family: "SCDream5";
  left: 2px;
  top: 0px;
}

.desktop .div .selection1 .dropdownWrapper1 {
  background-color: #efefef;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px #00000040;
          box-shadow: 4px 4px 10px #00000040;
  height: 52px;
  width: 355px;
  position: absolute;
  top: 35px;
  width: 355px;
}

.desktop .div .selection1 .dropdownWrapper1 .dropdown1 {
  position: absolute;
  height: 12px;
  width: 21px;
  top: 22px;
  left: 304px;
}

.desktop .div .selection2 {
  height: 85px;
  width: 355px;
  left: 581px;
  top: 205px;
  position: absolute;
}

.desktop .div .selection2 .selection2Text {
  position: absolute;
  font-size: 20px;
  color: #020715;
  font-family: "SCDream5";
  left: 3px;
  top: 0px;
}

.desktop .div .selection2 .dropdownWrapper2 {
  background-color: #efefef;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px #00000040;
          box-shadow: 4px 4px 10px #00000040;
  height: 52px;
  width: 355px;
  position: absolute;
  top: 35px;
  width: 355px;
}

.desktop .div .selection2 .dropdownWrapper2 .dropdown2 {
  position: absolute;
  height: 12px;
  width: 21px;
  top: 22px;
  left: 304px;
}

.desktop .div .comp {
  position: absolute;
  top: 10px;
}
/*# sourceMappingURL=mainPage.module.css.map */